<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.travelms.dao.AdminDao">
    <select id="selectAdmin"  resultType="Admin" >
        SELECT * FROM admin where  name=#{name} and pwd=#{pwd}
    </select>

    <update id="updateAdmin" >
        update admin set pwd=#{pwd} where name=#{name}
    </update>

    <select id="selectAdminById" resultType="Admin">
        select * from admin
        <where>
            <if test="id!=null">id=#{id}</if>
        </where>
    </select>

    <update id="update">
        update admin
        <set>
            name=#{admin.name},
            userName=#{admin.userName},
            email=#{admin.email},
            phone=#{admin.phone},
            address=#{admin.address},
            title=#{admin.title},
        </set>
        <where>
            id=#{admin.id}
        </where>
    </update>
</mapper>
