<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travelms.dao.ContinentDao">

    <!--地域表查询映射-->
    <select id="selectContinent" resultType="Continent">
        SELECT * FROM  continent
        <where>
           <if test="con.continentId !=null"> or continentId LIKE CONCAT ('%',#{con.continentId},'%')</if>
           <if test="con.continentName !=null"> or continentName LIKE CONCAT ('%',#{con.continentName},'%')</if>
        </where>
        LIMIT #{pageIndex},#{pageSize}
    </select>

    <!--生成Excel表格-->
    <select id="selectExcelContinent" resultType="Continent">
        SELECT * FROM  continent
    </select>

    <!--查询地域总条数-->
    <select id="continentCount" resultType="Integer">
         SELECT COUNT(*) FROM  continent
        <where>
            <if test="con.continentId !=null"> or continentId LIKE CONCAT ('%',#{con.continentId},'%')</if>
            <if test="con.continentName !=null"> or continentName LIKE CONCAT ('%',#{con.continentName},'%')</if>
        </where>
    </select>
    <!--修改地域表-->
    <update id="updateBycontinentId">
        UPDATE continent
        <set>
            <if test="continent.continentName!=null">continentName=#{continent.continentName}</if>
            <if test="continent.holidayId!=null">holidayId=#{continent.holidayId}</if>
        </set>
        WHERE continentId=#{continent.continentId}
    </update>
    <!--根据Id删除地域-->
    <delete id="deleteBycontinentId" parameterType="Integer[]">
       delete from continent
       <where>
           continentId
           <foreach collection="array" item="continentId" open="in (" close=")" separator=",">
             #{continentId}
           </foreach>
       </where>
    </delete>
    <insert id="insertContinent">
         INSERT INTO continent(continentName,holidayId) values(#{continentName},#{holidayId})
    </insert>


    <!--二级联动-->
    <select id="selectContinentTwo" resultType="Continent" >
        SELECT * FROM continent
    </select>
</mapper>