<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travelms.dao.CountryDao">
    <resultMap id="continentMap" type="Country">
        <result column="continentName" property="continentName"></result>
    </resultMap>
    <select id="selectPageByCountry"  resultMap="continentMap">
        SELECT cou.*,con.continentName FROM country cou
        INNER JOIN continent con ON con.continentId=cou.continentId
        <where>
            <if test="country.countryName!=null and country.countryName!=''">or cou.countryName LIKE CONCAT ('%',#{country.countryName},'%')</if>
            <if test="country.continentName!=null and country.continentName!=''">or con.continentName LIKE CONCAT ('%',#{country.continentName},'%')</if>
        </where>
        LIMIT #{pageIndex},#{pageSize}
    </select>
    <!--查询条数-->
    <select id="count"  resultType="Integer" >
        SELECT COUNT(*) FROM country cou
        LEFT JOIN  continent con ON cou.continentId=con.continentId
        <where>
            <if test="country.countryName!=null and country.countryName!=''">or cou.countryName LIKE CONCAT ('%',#{country.countryName},'%')</if>
            <if test="country.continentName!=null and country.continentName!=''">or con.continentName LIKE CONCAT ('%',#{country.continentName},'%')</if>
        </where>
    </select>

    <select id="selectCountry"  resultType="Country"  parameterType="int">
        SELECT * FROM country
        <where>
            <if test="continentId != null"> and continentId=#{continentId}</if>
        </where>
    </select>

    <insert id="insert" parameterType="Country">
        INSERT INTO country(countryName,continentId)
        VALUE(#{country.countryName},#{country.continentId})
    </insert>

    <update id="update">
        UPDATE country
        <set>
            <if test="country.countryName!=null">countryName=#{country.countryName}</if>
            <if test="country.continentId!=null">continentId=#{country.continentId}</if>
        </set>
        WHERE countryId=#{country.countryId}
    </update>

    <delete id="deleteAll" parameterType="Integer[]">
        delete from country
        <where>
            countryId
            <foreach  collection="array" item="countryId" open="in (" close=")" separator=",">
                #{countryId}
            </foreach>
        </where>
    </delete>
</mapper>