<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travelms.dao.CountryDao">
    <resultMap id="continentMap" type="Country">
        <result column="continentName" property="continentName"></result>
    </resultMap>
    <select id="selectCountry"  resultMap="continentMap">
        SELECT country.*,continent.continentName FROM country
        INNER JOIN continent ON continent.continentId=country.continentId
        <where>
            <if test="country.countryId != null"> and countryId=#{country.countryId}</if>
        </where>
        LIMIT #{pageIndex},#{pageSize}
    </select>
    <!--查询条数-->
    <select id="count"  resultType="Integer" >
        SELECT COUNT(*)    FROM country
    </select>

    <!--根据Id删除地域-->
    <delete id="delete">
        DELETE FROM country
        <where>
            <if test="countryId!=null"> AND countryId=#{countryId}</if>
        </where>
    </delete>

    <select id="selectCountry"  resultType="Country"  parameterType="int">
        SELECT * FROM country
        <where>
            <if test="continentId != null"> and continentId=#{continentId}</if>
        </where>
    </select>
</mapper>