<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travelms.dao.CustomizeDao">

    <select id="selectUserName" resultType="Customize">
        SELECT * FROM customize WHERE customizeid=#{customizeId}
    </select>

</mapper>