<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.travelms.dao.ItemDao">
   <resultMap id="itemMap" type="Item">
        <result column="brandName" property="brandName"></result>
        <result column="countryName" property="countryName"></result>
        <result column="continentName" property="continentName"></result>
    </resultMap>

    <select id="selectItem"  resultMap="itemMap" >
        SELECT ite.*,b.brandName,cou.countryName,con. continentName    FROM item ite
        LEFT JOIN theme the ON the.themeId=ite.themeId
        LEFT JOIN  country cou  ON ite.countryId=cou.countryId
        LEFT JOIN  continent con ON cou.continentId=con.continentId
        LEFT JOIN brand b ON ite.brandid=b.brandid

        <where>
          <if test="item.title!=null and item.title!=''"> or ite.title  LIKE CONCAT ('%',#{item.title},'%')</if>
            <if test="item.brandName!=null and item.brandName!=''">or b.brandName LIKE CONCAT ('%',#{item.brandName},'%')</if>
            <if test="item.countryName!=null and item.countryName!=''">or cou.countryName LIKE CONCAT ('%',#{item.countryName},'%')</if>
            <if test="item.continentName!=null and item.continentName!=''">or con.continentName LIKE CONCAT ('%',#{item.continentName},'%')</if>
            <if test="item.city!=null and item.city!=''">or ite.city LIKE CONCAT ('%',#{item.city},'%')</if>
        </where>
        LIMIT #{pageIndex},#{pageSize}
    </select>

    <select id="count" resultType="Integer">
        SELECT COUNT(*)    FROM item ite
        LEFT JOIN theme the ON the.themeId=ite.themeId
        LEFT JOIN  country cou  ON ite.countryId=cou.countryId
        LEFT JOIN  continent con ON cou.continentId=con.continentId
        LEFT JOIN brand b ON ite.brandid=b.brandid
        <where>
            <if test="item.title!=null and item.title!=''"> or ite.title  LIKE CONCAT ('%',#{item.title},'%')</if>
            <if test="item.brandName!=null and item.brandName!=''">or b.brandName LIKE CONCAT ('%',#{item.brandName},'%')</if>
            <if test="item.countryName!=null and item.countryName!=''">or cou.countryName LIKE CONCAT ('%',#{item.countryName},'%')</if>
            <if test="item.continentName!=null and item.continentName!=''">or con.continentName LIKE CONCAT ('%',#{item.continentName},'%')</if>
            <if test="item.city!=null and item.city!=''">or ite.city LIKE CONCAT ('%',#{item.city},'%')</if>
        </where>
    </select>

    <select id="getItem" resultMap="itemMap">
        SELECT ite.*,b.brandName,cou.countryName,con. continentName    FROM item ite
        LEFT JOIN theme the ON the.themeId=ite.themeId
        LEFT JOIN  country cou  ON ite.countryId=cou.countryId
        LEFT JOIN  continent con ON cou.continentId=con.continentId
        LEFT JOIN brand b ON ite.brandid=b.brandid
        <where>
            <if test="itemId!=null">ite.itemId=#{itemId}</if>
        </where>
    </select>


    <insert id="insertItem" parameterType="Item">
           INSERT INTO item(title,`EXPLAIN`,playTime,city,price,countryId,brandId,travelId,styleId,trafficId,picpath,startTime,endTime)
            VALUE(#{item.title},#{item.explain},#{item.playTime},#{item.city},#{item.price},#{item.countryId},#{item.brandId},#{item.travelId},#{item.styleId},#{item.trafficId},#{item.picPath},#{item.startTime},#{item.endTime})
    </insert>


    <delete id="deleteItem" parameterType="Integer[]">
        delete from item
        <where>
            itemId
            <foreach  collection="array" item="itemId" open="in (" close=")" separator=",">
                #{itemId}
            </foreach>
        </where>
    </delete>

    <update id="updateItem" parameterType="Integer">
        update  item
              <set>title=#{item.title},
              playTime=#{item.playTime},
              price=#{item.price},
              countryId=#{item.countryId},
              brandId=#{item.brandId},
              travelId=#{item.travelId},
              styleId=#{item.styleId},
              trafficId=#{item.trafficId},
              startTime=#{item.startTime},
              endTime=#{item.endTime},</set>

         <where>
             itemId=#{item.itemId}
         </where>
    </update>
</mapper>
