<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travelms.dao.UserDao">
    <!--会员管理查询-->
    <select id="selectUser" resultType="User">
        SELECT * FROM USER
        <where>
            <if test="user.userId!=null"> or userId LIKE CONCAT ('%',#{user.userId},'%')</if>
            <if test="user.userName !=null"> or userName LIKE CONCAT ('%',#{user.userName},'%')</if>
            <if test="user.phone!=null"> or phone LIKE CONCAT ('%',#{user.phone},'%')</if>
            <if test="user.email !=null"> or email LIKE CONCAT ('%',#{user.email},'%')</if>
            <if test="user.scores !=null"> or scores LIKE CONCAT ('%',#{user.scores},'%')</if>
        </where>
         LIMIT #{pageIndex},#{pageSize}
    </select>
    <!--会员总条数-->
    <select id="userCount" resultType="Integer">
        SELECT COUNT(*) FROM  USER
        <where>
            <if test="user.userId!=null"> or userId LIKE CONCAT ('%',#{user.userId},'%')</if>
            <if test="user.userName !=null"> or userName LIKE CONCAT ('%',#{user.userName},'%')</if>
            <if test="user.phone!=null"> or phone LIKE CONCAT ('%',#{user.phone},'%')</if>
            <if test="user.email !=null"> or email LIKE CONCAT ('%',#{user.email},'%')</if>
            <if test="user.scores !=null"> or scores LIKE CONCAT ('%',#{user.scores},'%')</if>
        </where>
    </select>

    <update id="updateScores">
        UPDATE 	`user` SET scores=scores+#{scores} WHERE phone=#{phone}
    </update>
</mapper>