<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        旅游项目
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../static/css/x-admin.css" media="all">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../static/js/vue.js"></script>
</head>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>旅游项目</cite></a>
            </span>
</div>
<div id="div">
<form class="layui-form x-center" action="" style="width:500px">
    <div class="layui-form-pane" style="margin-top: 15px;">
        <div class="layui-form-item">
            <div class="layui-input-inline" style="width:400px">
                <input type="text" name="username"  placeholder="搜索从这里开始..." autocomplete="off" class="layui-input" id="sou">
            </div>
            <div class="layui-input-inline" style="width:40px;">
                <a style="height: 37px;line-height: 37px" class="layui-btn"  lay-submit="" lay-filter="sreach" v-on:click="ss"><i class="layui-icon">&#xe615;</i></a>
            </div>
        </div>
    </div>
</form>
<div class="x-body">
    <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button>
      <span class="x-right" style="line-height:20px">
        <button class="layui-btn" onclick="Warning_management_add('添加旅游项目','showInsertItem','600','500')"><i class="layui-icon">&#xe608;</i>添加</button>
     </span></xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th width="50" ><input type="checkbox"  value="0" name="checkbox" onclick="checkd()"/>全选</th>
            <th>编号</th>
            <th>标题</th>
            <th>游玩时间</th>
            <th>出发城市</th>
            <th>出发时间</th>
            <th>返回时间</th>
            <th>地域</th>
            <th>地点</th>
            <th>酒店</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="x-link">
        <tr v-for="info in page.list">
            <td width="50" >
                <input type="checkbox" name="checkbox" v-bind:value="info.itemId"/>
            </td>
            <td class="itemid" >{{info.itemId}}</td>
            <td>{{info.title}}</td>
            <td>{{info.playTime}}</td>
            <td>{{info.city}}</td>
            <td>{{info.date}}</td>
            <td>{{info.endDate}}</td>
            <td>{{info.continentName}}</td>
            <td>{{info.countryName}}</td>
            <td>{{info.brandName}}</td>
            <td class="td-manage">
               <!-- <a title="修改" href="javascript:;" onclick="data_management_look('查看','updateItem','4','','510')"-->
                <a title="修改"   class="ml-5" style="text-decoration:none">
                    <i class="layui-icon"  v-on:click="xiugai(info.itemId)">&#xe642;</i>
                </a>
                <a title="删除"  onclick="delet(this)" style="text-decoration:none">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="page" class="container" >
        <ul class="page-num-ul clearfix">
            <li v-if="page.pageIndex>1">
                <a id="shou" v-on:click="shou">首页</a>
                <a id="shang" v-on:click="shang">上一页</a>
            </li>
            <li v-if="page.pageIndex<page.totalPage">
                <a id="xia" v-on:click="xia">下一页</a>
                <a id="mo2" v-on:click="mo">末页</a>
            </li>
            <li><a href="javascript:void(0)"><span id="dangqian">{{page.pageIndex}}</span>/<span id="mo">{{page.totalPage}}</span> 页</a></li>
            <li><a href="javascript:void(0)">共{{page.totalCount}}条</a></li>
        </ul>
    </div>
</div>
</div>
<script>


    layui.use(['element','laypage','layer','form'], function(){
        $ = layui.jquery;//jquery
        lement = layui.element();//面包导航
       // laypage = layui.laypage;//分页
        layer = layui.layer;//弹出层
        form = layui.form();//弹出层
    })
    //批量删除提交
    function delAll () {
        var checkArry = document.getElementsByName("checkbox");
        var count=0;
        var checked = [];
        for (var i = 0; i < checkArry.length; i++) {
            if(checkArry[i].checked == true){
                count++;
                //选中的操作
                $('input:checkbox:checked').each(function() {
                    checked.push($(this).val());
                });
                break;
            }
        }
            if(count==0){
                //未选中的操作
                layer.msg('请选择要删除的项目', {icon: 0});
            }else{
                layer.confirm('确认要删除吗？',function(index){
                    //捉到所有被选中的，发异步进行删除
                    $.ajax({
                        url:"deleteItem",
                        traditional: true,
                        data:{"itemId":checked},
                        type:"post",
                        dataType:"json",
                        success:function (data) {
                            if(data!=null){
                                layer.msg('删除成功', {icon: 1});
                                    vuee.page=data;
                                    var checkArry = document.getElementsByName("checkbox");
                                    for (var i = 0; i < checkArry.length; i++) {
                                        checkArry[i].checked = false;
                                    }

                         }else{
                                layer.msg('删除失败', {icon: 0});
                            }
                        }
                    });
                });
            }
    }
    // 删除
    function delet(e) {
        var checked = [];
        var a= $(e).parent().parent().find("td").eq(1).text();
        checked.push(a);
        layer.confirm('确认要删除吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            $.ajax({
                url:"deleteItem",
                traditional: true,
                data:{"itemId":checked},
                type:"post",
                dataType:"json",
                success:function (data) {
                    if(data!=null){
                        layer.msg('删除成功', {icon: 1});
                            vuee.page=data;
                            console.log(data)
                            var checkArry = document.getElementsByName("checkbox");
                            for (var i = 0; i < checkArry.length; i++) {
                                checkArry[i].checked = false;
                            }
                    }else{
                        layer.msg('删除失败', {icon: 0});
                    }
                }
            });
        });
    }
        //全选
        var zt=false;
        function checkd(){
            if(zt==true){
                zt=false;
            }else{
                zt=true;
            }
            var a = document.getElementsByTagName("input");
            for (var i=0; i<a.length; i++)
                if (a[i].type == "checkbox")
                    a[i].checked = zt;
        }
    /*用户-添加*/
    function Warning_management_add(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    // 编辑
    function data_management_look (title,url,id,w,h) {
        x_admin_show(title,url,w,h);
    }
    var vuee;
    $(document).ready(function(){
          var index;
        vuee =new Vue({
            el:"#div",
            data:{
                info:[],
                page:{}
            },
            methods:{
                xia:function () {
                    index=parseInt($("#dangqian").text())+1;
                    fenye();
                },
                shang:function () {
                    index=parseInt($("#dangqian").text())-1;
                    fenye();
                },
                shou:function () {
                    index=1;
                    fenye();
                },
                mo:function () {
                    index=parseInt($("#mo").text());
                    fenye();
                },
                ss:function () {
                    index=1;
                    var sou1=$("#sou").val();
                    var sou = $.trim(sou1);
                    $.ajax({
                        url:"item",
                        data:{"pageIndex":index,"title":sou,"brandName":sou,"countryName":sou,"continentName":sou,"city":sou},
                        type:"post",
                        dataType:"json",
                        success:function(data){
                            vuee.page=data;
                            var checkArry = document.getElementsByName("checkbox");
                            for (var i = 0; i < checkArry.length; i++) {
                                checkArry[i].checked = false;
                            }
                        }
                    })
                },
                xiugai:function (e) {
                    data_management_look('项目修改','updateItem?itemId='+e,'4','','510');
                }
            }
        })
        //分页
        function  fenye() {
            $.ajax({
                url:"item",
                data:{"pageIndex":index},
                type:"post",
                dataType:"json",
                success:function(data){
                    vuee.page=data;
                    var checkArry = document.getElementsByName("checkbox");
                    for (var i = 0; i < checkArry.length; i++) {
                        checkArry[i].checked = false;
                    }
                }
            })
        }
        $.ajax({
            url:"item",
            data:{"pageIndex":1},
            type:"post",
            dataType:"json",
            success:function(data){;
                vuee.page=data;
            }
        })
    });
</script>
</body>
</html> 