<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        酒店管理-添加
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../static/css/x-admin.css" media="all">
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script src="../static/js/x-layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
    <style>
        .red{
            color: red;
            font-size: 12px;
            display: none;
        }
    </style>
</head>
<body>
<div class="x-body">
    <form action="insertHotel" method="post" id="formsubmit1" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label  class="layui-form-label">
                酒店名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="hotelName" maxlength="25">
                <span class="red">*只能以中文或字母开头并只能写中文或之母且不能为空</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                上传图片</label>
            <div class="layui-input-inline">
                <input type="file" class="layui-input" name="picFile">
            </div>
            <span th:text="${uploadError}"></span>
        </div>
            <div class="layui-form-item">
            <label  class="layui-form-label">
                上传图片</label>
            <div class="layui-input-inline">
                <input type="file" class="layui-input" name="picFile">
            </div>
                <span th:text="${uploadError}"></span>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                上传图片</label>
            <div class="layui-input-inline">
                <input type="file" class="layui-input" name="picFile">
            </div>
            <span th:text="${uploadError}"></span>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                酒店星级</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input"  name="star" placeholder="如 ★★★">
                <span class="red">*只能输入★</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                酒店地址</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="address">
            </div>
        </div>
         <div class="layui-form-item" >
           <label  class="layui-form-label">
               酒店地区</label>
             <div class="layui-input-inline">
                 <select id="countryId" style="width: 400px;height: 40px;border: #ebebeb 1px solid;color: #8D8D8D" name="countryId">
                    <!-- <option th:value="0">请选择</option>-->
                     <option  th:each="cou : ${country}" th:value="${cou.countryId}"><span th:text="${cou.countryName}">欧洲</span></option>
                 </select>
             </div>
       </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                房型</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="roomType" readonly th:value="豪华双人间">
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                早餐</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="breakfast">
                <span class="red">*不能为空</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                午餐</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="lunch">
                <span class="red">*不能为空</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                晚餐</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="dinner">
                <span class="red">*不能为空</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                酒店介绍</label>
            <div class="layui-input-inline">
                 <textarea placeholder="随便写些什么刷下存在感" id="L_sign" name="hotelDesc" autocomplete="off"
                           class="layui-textarea" style="height: 80px;"  ></textarea>
            </div>
        </div>
        <p><input type="submit" class="layui-btn" value="提交" onclick=" return x_admin_close1()"></p>
    </form>
</div>
<script>
    var hotelname=/^[\u4E00-\u9FA5]{1,}$/;
    var xing=/^[\u2605]{1,}$/;
    $("[name='hotelName']").on("blur",function () {
        if(!hotelname.test($(this).val())){
            $(this).focus();
            $(this).next().show();
            return;
        }
        $(this).next().hide();
    });

    $("[name='star']").on("blur",function () {
        if(!xing.test($(this).val())){
            $(this).focus();
            $(this).next().show();
            return;
        }
        $(this).next().hide();
    });
    function x_admin_close1() {
        var flag=true;
        $("input[type='text']").each(function () {
            if ($(this).val() == "" || $(this).val() == NaN || $(this).val() == undefined || $(this).val() == null) {
                $(this).focus();
                $(this).next().show();
                flag= false;
            }
        })
        if(!flag){
            return false;
        }
    }
</script>

</body>
</html>